.success-page {
    text-align: center;
    padding-top: 200px;
    background: linear-gradient(to bottom,
            var(--deep-black),
            var(--charcoal),
            var(--shadow-blue),
            var(--midnight));
}

.success-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .success-page {
        padding-top: 120px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .success-button {
        font-size: 14px;
        padding: 8px 16px;
        width: 100%;
        max-width: 300px;
    }
}