.Toastify__toast-container {
    /* position: fixed !important; */
    /* bottom: auto !important; */
    /* top: 1rem !important; */
    /* or wherever you want */
    /* left: auto !important; */
    /* right: 1rem !important; */
    margin: 0 !important;
    padding: 0 !important;
    /* width: auto !important; */
    /* max-width: 350px; */
    /* or your preferred width */
    pointer-events: none;
    z-index: 9999;
    height: 0;
}

#root {
    overflow-x: hidden;
    overflow-y: visible;
}